.header-container {
	background-color: lightgray;
	width: 100%;
	min-height: 200px;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.search{
	width: 30%;
	flex-direction: column;
}

.container{
	height: auto;
}

.btn-default{
	background-color: #842c7c;
	color: white;
	height: auto;
}

.flex{
	display: flex;
	justify-content: space-between;
}

.side-bar{
	background-color: lightgray;
	width: 20%;
	display: flex;
	flex-direction: column;
}

.toc-container {
	height: auto;
}

.doc-container{
	width: 80%;
}

.text-container{
	margin-right: 3%;
	margin-left: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	background-color: white;
	overflow: scroll;
	height: auto;
}

.title{
	height: auto;
	font-size: 20pt;
	text-align: center;
	margin: 5%;
}

.toc-item{
	margin-left: 10px;
	cursor: pointer;
	height: auto;
	margin-top: 3%;
}

.bold {
	font-weight: bolder;
	font-size: larger;
}



