<!--Affichage si l'utilisateur souhaite rechercher un document-->
<div *ngIf="search">
	<div class="header-container">
		<img width="300" alt="Angular Logo" src="../assets/FluidTopics-logo.png">
		<!--Barre de recherche-->
		<div class="input-group search">
			<div style="width: 100%;">
				<input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchedValue" (keyup.enter)="onSearch()">
			</div>		
			<div class="input-group-btn">
			  <button class="btn btn-default" (click)="onSearch()">
				<i class="fa fa-search" style="color: white;"></i>
			  </button>
			</div>
		</div>
	</div>
	<!--Affichage des résultats de la recherche-->
	<div *ngIf="searchResults" class="container">
		<ul class="list-group">
			<li *ngFor="let r of searchResults" class="list-group-item list-group-item-light flex">
				<span>{{r['title']}} </span>
				<span class="flex" style="width: 60%;">
					<span>{{r['editorialType']}} </span>
					<span>{{r['lastEditionDate']}} </span>
					<button class="btn btn-default" (click)="onView(r['mapId'])">View</button>
				</span>
			</li>
		</ul>
	</div>
</div>

<!--Affichage si l'utilisateur souhaite visualiser un document-->
<div *ngIf="!search" style="display: flex;">
	<div class="side-bar">
		<!--Bouton de retour à la page de recherche-->
		<button class="btn btn-default" (click)="onBack()">
			<i class="fa fa-reply" style="color: white;"></i>
			Back to search
		</button>
		<!--Affichage des titres principaux du document-->
		<div class="toc-container"></div>
		<div class="title">{{FTService.mapToDisplay['title']}}</div>
		<div *ngFor="let toc of mapToC let i=index" class="toc-item" (click)="getContentToDisplay(toc['contentId'])" [class.bold]="toc['contentId'] === FTService.topicSelectedId">
			{{toc['title']}}
		</div>
	</div>
	<!--Affichage du contenu de la partie du document sélectionnée-->
	<div class="doc-container">
		<div class="text-container">
			<div [innerHtml]="this.FTService.contentToDisplay | sanitizeHtml"></div>
		</div>
	</div>
</div>