/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	font-family: Open sans;
	height: 100%;
  }
html, body { height: 100%; }
body { margin: 0;}

.ft-section{
	display: flex;
	flex-direction: column;
	margin: 0;
	height: auto;
}

.ft-topic-body{
	display: flex;
	flex-direction: column;
	margin: 0;
	height: auto;
}

.table {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: auto;
}